$color: #ccc
$margin: 16px

.awesome_form
  width: 300px
  border-color: $color
  background-color: $color
  color: darken($color, 9%)
  padding: $margin / 2
  margin: $margin / 2

.awesome_input
  border: 1px solid $color
  width: 276px
  border-radius: 4px
  padding: 6px 12px
